* {
    background-color: #f6f6f6;
    font-family: "Cinzel", serif;
}

#main {
    margin: 2%;
}

.image-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upload-form {
    margin-bottom: 2%;
}

.h1 {
    margin: 0;
    padding: 0;
}

.logo-img img {
    width: 100px;
}

.logo-img {
    display: inline-block;
}

.title {
    font-size: 15px;
}

.heading {
    margin: 1%;
    font-size: 25px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-item {
    margin: 1%;
    border: 2px solid black;
    max-width: 400px;
    max-height: 350px;
    border-radius: 5px;
    position: relative;
}
/*
.img-title {
    position: absolute;
    bottom: 1%;
    left: 10%;
} */
