body {
    background-color: #f6f6f6;
    font-family: "Cinzel", serif;
}

#main {
    margin: 2%;
    position: relative;
}

.image-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.upload-form {
    margin-bottom: 2%;
}

h1 {
    margin-left: 3%;
    padding: 0;
}

form {
    margin-left: 1%;
}

.header-top {
    margin-left: 3%;
}

.logo-img img {
    width: 100px;
}

.logo-img {
    display: inline-block;
}

.title {
    font-size: 15px;
}

.heading {
    margin: 1%;
    font-size: 25px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-item {
    margin: 1%;
    border: 2px solid black;
    max-width: 400px;
    height: 350px;
    border-radius: 5px;
    /* position: relative; */
}

. img-title {
    padding: 6px;
}

/*
.img-title {
    position: absolute;
    bottom: 1%;
    left: 10%;
} */

/* MODAL */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2;
    overflow-y: hidden;
}

.main-modal {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 99vh;
    margin: 0 auto;
    border: 1px solid black;
    z-index: 3;
    border-radius: 5px;
    overflow: auto;
    background-color: #f6f6f6;
}

.modal-image {
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 2%;
    max-width: 600px;
    max-height: auto;
    border-radius: 5px;
    position: relative;
}

.modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-item-section {
    width: 90%;
    height: auto;
    margin: 2%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

.comment-secion {
    margin: 4%;
}

.comment-form {
    margin-left: 5%;
    margin-top: 3%;
}

.exit {
    float: right;
    margin: 2%;
    font-weight: bold;
}

.details {
    margin: 3%;
}
